include includes/head
head
	title #{title} | SuperForms
	link(rel="stylesheet", href="/styles/react-widgets.css")
body
	header.forms
		nav.container
			- if (isAdmin)
				a(href='/users') Пользователи
			a.pre-active(href='/forms') Формы
			div.triangle.triangle-left
			- if (type === 'CREATE_FORM')
				a.active Создание формы
			- else
				a.active Редактирование формы
			div.triangle.triangle-right
			include includes/signout

	div#root.container
	script#info(type="application/json").
		{
			"type": "#{type}",
			"getUrl": "/api/forms/#{id}",
			"createUrl": "/api/forms",
			"updateUrl": "/api/forms/#{id}/update",
			"previewUrl": "/forms/#{id}/preview",
			"sendUrl": "/api/forms/#{id}/send"
		}
	script(type="text/javascript", src="/scripts/generation.js")